
li:hover{
    cursor: pointer;
}
.logo{
    margin-top: 3px; margin-left: 3px
}
.login{
    margin-left : 60px;
}
#sign-out{
    color:red;
   
}
.navbar{
    padding: 12px;
    border: 1px rgb(234, 223, 223) solid;
    
}