<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linedata Dashboard</title>
  </head>

  <body>
    <div class="navbar" *ngIf="tokenExist()">
      <div class="logo">
        <a href="consulterDashboard">
          <img src="assets/LN.png" alt="Linedata_logo" />
        </a>
      </div>
      <div class="chartAndDash">
        <div class="dropdown chart" *ngIf="getAdmin() === true">
          <button
            class="btn btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            Chart
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a routerLink="/createChart">Create chart</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/consulterChart">Chart view</a></li>
          </ul>
        </div>

        <div class="dropdown dash">
          <button
            class="btn btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            Dashboard
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li *ngIf="isAdmin === true">
              <a routerLink="/createDashboard">Create Dashboard</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/consulterDashboard">Dashboard view</a></li>
          </ul>
        </div>
      </div>

      <div class="signout">
        <a id="sign-out" (click)="logOut()"> Sign out </a>
      </div>
    </div>

    <div class="container-fluid contient">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
